body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 40px;
    background-color: blanchedalmond;
    background-image: url("to do.webp");
    background-size: cover;
}
button{
    padding: 8px 15px;
    background: orange;
    color: black;
}
input{
    padding: 8px;
    width: 200px;
}
li{
    margin:8px;
    font-size: 20px;
    padding: 8px;
    text-align: center;
}